<!-- Modal content-->
<div class="modal-content">
    <div class="modal-body">
        <div class="row modal-header modal-header-success">
            <div class="col-md-10">
                <h4 class="text-center">Template 1</h4>
            </div>
            <div class="col-md-2" style="margin-top:10px;">
                <button class="close" type="button" ng-click="$ctrl.ok()" data-dismiss="modal">&times;</button>
            </div>
        </div><!-- The header -->
        <br>
        <div class="row margin-top-20">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p style="font-weight: bold;">Thank you for your feedback!</p>                
                <!-- Here should go the ng-repeat BEGIN -->
                <div ng-repeat="formOption in $ctrl.formOptions | orderBy : 'display_position'">
                    <p style="font-weight: bold;"><span ng-hide="(formOption.is_optional==='Yes' || formOption.is_optional===true) ? true : false " style="color:red;">*&nbsp;</span>{{ formOption.Question_text }}<span ng-hide="(formOption.is_optional==='No' || formOption.is_optional===false) ? true : false " style="color: rgb(114, 114, 114);"> (optional)</span></p>
                    <!-- What type of control are we displaying ? -->
                    <p ng-show="formOption.options_type=='Yes/No'"><input type="radio" name="yesno"> Yes <input type="radio" name="yesno"> No</p>
                    <p ng-show="formOption.options_type=='Satisfied/Neutral/Unsatisfied'"><input type="radio" name="satneu"> Satisfied <input type="radio" name="satneu"> Neutral <input type="radio" name="satneu"> Unsatisfied</p>
                    <p ng-show="formOption.options_type=='Free Form Text'"><textarea class="form-control" rows="2" placeholder="{{ formOption.Question_text }}"></textarea></p>
                </div>                
            </div>
        </div><!-- The body / form controls, labels, etc -->
        <div class="row tab-footer">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <button class="btn btn-default" type="button" ng-click="$ctrl.ok()" data-dismiss="modal">Close</button>
            </div>
        </div><!-- The footer / Just Close button -->
    </div><!-- End modal-body -->
</div><!-- End modal-content -->